body {
    margin: 0mm;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
}

.container {
    padding-left: 350px;
    padding-right: 350px;
}

.logo-header img {
    padding-top: 10px;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#telepfone {
    text-decoration: none;
    color: black;
}

.navigation a {
    text-decoration: none;
    color: black;
    padding: 0 12.5px;
}

.navigation a:after {
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    content: "";
    transition: width 0.3s ease-out;
}

.navigation a:hover:after, a:focus:after {
    width: 100%;
}

.call {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.section1 {
    background: linear-gradient(120.87deg, #9BB6FD 11.68%, #DDE7FF 80.2%);
}

.section1 .container {
    display: flex;
    justify-content: space-around;
}

.about_us h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}

#about_us {
    background: #F55A76;
    box-shadow: 0px 4px 25px #F55A76;
    border-radius: 20px;
    width: 341px;
    height: 63px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
}

.people {
    display: flex;
    align-items: baseline;
}

h1 {
    padding-top: 62px;
    padding-bottom: 66px;
}

.why_me {
    display: flex;
    padding-bottom: 111px;
}

.why_me h2 {
    font-size: 20px;
    font-style: normal;
}

.block1, .block2, .block3 {
    display: flex;
}

.text_in_block {
    padding-left: 15px;
}

.image1 {
    background: rgba(199, 255, 221, 0.61);
    border-radius: 20px;
    width: 116px;
    height: 115.54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image1 img {
    height: 53.54px;
    width: 57.94px;
}

.image2 {
    background: rgba(255, 153, 1, 0.268);
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    width: 116px;
    height: 115.54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image2 img {
    height: 73px;
    width: 67.77px;
}

.image3 {
    background: rgba(249, 186, 251, 0.46);
    border-radius: 20px;
    width: 116px;
    height: 115.54px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.image3 img {
    height: 82px;
    width: 88.5px;
}

.section3 {
    background: linear-gradient(287.98deg, rgba(171, 200, 212, 0.48) 70.05%, rgba(173, 194, 203, 0) 99.74%);
}

.line1 {
    display: flex;
    justify-content: space-between;
}

.line2 {
    display: flex;
    margin-top: 40px;
}

.line2 a {
    margin-right: 36px;
}

.section3 a {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    background: #FFFFFF;
    border-radius: 20px;
    color: black;
    padding: 15px 20px;
    transition-duration: 1.5s;
}

.section3 a:hover {
    background-color: #FFACAC;
}

.block_sect3, .block_sect3_1, .block_sect3_2 {
    background: #FFFFFF;
    border-radius: 20px;
    width: 341px;
    height: 614.44px;
}

.pad_panel {
    display: flex;
    justify-content: space-evenly;
    padding-top: 55px;
}

.block_sect3 h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    background: linear-gradient(93.46deg, rgba(248, 154, 13, 0.3567) 47.15%, rgba(254, 80, 25, 0) 123.07%);
    border-radius: 10px;
    width: 278px;
    height: 66px;
    margin-left: 31px;
    text-align: center;
}

.block_sect3_1 h3 {
    background: linear-gradient(97.5deg, rgba(96, 82, 253, 0.3772) 44.19%, rgba(96, 82, 253, 0) 103.75%);
    border-radius: 10px;
    width: 278px;
    height: 66.95px;
    margin-left: 31px;
    text-align: center;
}

.block_sect3_2 h3 {
    background: linear-gradient(95deg, rgba(247, 156, 105, 0.3948) 45.98%, rgba(247, 156, 105, 0) 106.28%);
    border-radius: 10px;
    width: 278px;
    height: 66.95px;
    margin-left: 31px;
    text-align: center;
}

.section4 h2 {
    padding-top: 91px;
    padding-bottom: 74px;
}

.section5 {
    display: flex;
    justify-content: space-around;
    padding-top: 90px;
}

#strong_text {
    font-style: bold;
    font-size: 21px;
}

.sect5 {
    display: flex;
}

.text-sect5 {
    width: 570px;
    font-size: 19px;
}

.text-sect5 h1 {
    padding-bottom: 20px;
    padding-top: 0;
}

.text-sect5 a {
    color: red;
    text-decoration: none;
}

.img_sect5 {
    position: relative;
    margin-top: 100px;
}

.img_sect5 img {
    position: absolute;
}

#ellipse5 {
    position: absolute;
    top: 220px;
    left: 48px;
}

#ellipse6 {
    left: 244px;
    top: -102px;
    z-index: -1;
}

#ellipse7 {
    left: -30px;
    top: -46px;
    z-index: -1;
}

section {
    background-repeat:no-repeat ;
    background-image: url(/src/img/bckform.jpg);
    margin-top: 70px;
    background-size: 100%;
}

.section9 {
    padding-top: 20px;
}

.section9 h6 {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
}

.section9 p {
    font-size: 20px;
    color: #FFFF;
}

.top_block_form {
    display: flex;
}

.top_block_form input {
    width: 400px;
}

.left_top_block_form {
    padding-right: 115px;
}

.left_top_block_form, .right_top_block {
    width: 400px;
}

section input, textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    color: white;
    outline: 0;
    font-size: 20px;
}


#massage {
    width: 915px;
    height: 115px;
}

.end_section {
    padding-bottom: 135px;
}

.section5 {
    justify-content: left;
}

#checkbox {
    opacity: 1;
    background: #C4C4C4;
    border-radius: 5px;
}

footer {
    background-color: black;
}
.div_footer{
    display: flex;
}
.copiright, .call1{
    display: flex;
    align-items: center;
    
}
.logo-footer img{
    filter: invert(1);
    padding-top: 19px;
}
.copiright p{
    font-size: 20px;
    color: #FFF;
    padding-right: 72px;
    padding-left: 80px;
}
.call1{
    padding-left: 240px;
}
#truba{
    background-color: white;
    filter: invert(100%);
}
#telephone1{
    text-decoration: none;
    color: white;
}